@import "../../styles/variables";

.order-details {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  min-height: 6em;
  padding: 16px 16px 16px 32px;
  cursor: pointer;
  gap: 12px;

  @media screen and (min-width: 768px) {
    padding-left: 48px;
  }

  &:hover {
    background-color: $color-gray-lightest;
  }

  &--active {
    background-color: $color-gray-lighter !important;
  }

  * {
    margin: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: calc(80% - 6px);
    max-width: calc(80% - 6px);
    gap: 12px;

    @media screen and (min-width: 768px) {
      flex-flow: row nowrap;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(20% - 6px);
    max-width: calc(20% - 6px);
    text-align: right;
  }

  &__arrow {
    margin-bottom: -4px;
  }

  &__header,
  &__meta {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(50% - 6px);
      max-width: calc(50% - 6px);
    }
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: -12px;

    &::before {
      background: $color-white;
      border-radius: 50%;
      height: 1em;
      width: 1em;
    }
  }

  &__status {
    margin-top: auto;
    font-size: 0.7em;
    color: $color-black;
    text-transform: uppercase;
    margin-top: auto;
  }

  &__number {
    word-wrap: break-word;
  }

  &--warning {
    border-color: $color-warning;
  }

  &--warning &__icon,
  &--warning &__status {
    color: $color-warning;
  }

  &--complete &__icon,
  &--complete &__status {
    color: $color-success;
  }

  &--unset &__icon,
  &--unset &__status {
    color: $color-black;
  }

  &--pending &__icon,
  &--pending &__status {
    color: $color-black;
  }

  &--cancel &__icon,
  &--cancel &__status {
    color: $color-danger;
  }
}
