# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
.idea
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
.env*

# Local Netlify folder
.netlify

# this data should be empty due is calculted on SSR time at gatsby-node.js

src/content/events.json
src/content/speakers.json
src/content/summit.json
src/content/voteable_presentations.json
