@import "../../styles/variables";

.order-info-wrapper,
.order-option {
  font-weight: bold;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid $color-gray-light;
}

.order-info-wrapper {
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-bottom: 100px;
  }

  .info {
    font-weight: normal;

    h4 {
      font-weight: bold;
    }

    .role-badge {
      text-transform: uppercase;
    }
  }

  &:empty {
    display: none;
  }
}

.order-option {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $color-gray-lightest;
  }

  &.cancel {
    color: $color-danger;
  }
}
