@import "../../styles/variables";

.order-list {
  &-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &-pagination {
    margin: 30px 0;
    text-align: center;

    .pagination {
      margin: 0;
    }
  }

  &-item {
    position: relative;
    margin-bottom: 15px;

    &.active {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid $color-gray-light;
      border-bottom: 1px solid $color-gray-light;
    }

    &:first-child {
      margin-top: 0 !important;
      padding-top: 0 !important;
      border-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }

    &-content {
      position: relative;

      @media screen and (min-width: 992px) {
        display: flex;
      }
    }

    &-sidebar {
      position: sticky;
      top: 30px;
    }

    [class*="col-"] {
      position: static;
    }
  }
}

//   .warning {
//     border: 1px solid $color-warning;

//     .status {
//       color: $color-warning;
//     }
//   }

//   .complete {
//     .status {
//       color: $color-success;
//     }
//   }

//   .cancel {
//     .status {
//       color: $color-danger;
//     }

//     .col-sm-4,
//     .col-sm-2,
//     h4 {
//       opacity: 0.6;
//     }

//     &:hover {
//       background-color: $color-white;
//       cursor: default;
//     }
//   }

//   .pending {
//     .status {
//       color: $color-black;
//     }

//     .col-sm-4,
//     .col-sm-2,
//     h4 {
//       opacity: 0.6;
//     }

//     &:hover {
//       background-color: $color-white;
//       cursor: default;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .orders-list {
//     margin-bottom: 20px;
//   }
//   .order-list-desktop {
//     display: none;
//   }

//   .order-list-mobile {
//     display: block;

//     .order {
//       div:nth-child(2) {
//         margin-left: 0px;
//         padding-bottom: 0px;
//       }

//       div:last-child {
//         padding: 0 15px 0 0;
//         width: 35%;
//         margin-left: auto;
//       }
//     }

//     .cancel {
//       div:first-of-type {
//         margin-left: -40px;
//       }

//       div:nth-child(2) {
//         padding-bottom: 0px;
//       }
//     }

//     .pending {
//       div:first-of-type {
//         margin-left: -40px;
//       }

//       div:nth-child(2) {
//         padding-bottom: 0px;
//       }
//     }

//     .past {
//       div:nth-child(2) {
//         padding-left: 3px;
//       }
//     }
//   }
// }

// @media (min-width: 768px) {
//   .order {
//     div:nth-child(2) {
//       .status {
//         margin-bottom: 0px;
//       }
//     }
//   }

//   .order-list-mobile {
//     display: none;
//   }
// }
