@import './colors.scss';

.link {
  width: 80%;
  margin: 0 auto -4rem;

  .button {
    align-self: center;
    border-radius: 3px;
    bottom: 6rem;
    width: 100%;
  }
}

.sponsor-container-center {
  margin-top: 3rem;
  height: 250px;
  background-color: $color_secondary_contrast;
  display: flex;

  .container-text {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .ad-text {
      display: inline-flex;
      color: $color_text_light;
      font-size: 24px;
      text-align: center;
    }

    .link {
      margin-top: 3rem;
      width: 100%;
      display: inline-flex;

      .button {
        width: 60%;
        border-radius: 3px;
        bottom: 0;
        margin: 0 auto;
      }
    }
  }

  .container-image {
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


}

.sponsor-container {
  display: flex;
  flex-direction: column;
}

.sponsor-container img {
  padding-top: 2em;
  width: 100%;
}

.first-sponsor-container img {
  padding-top: 0;
  width: 100%;
}

@media (min-width: 1921px) {
  .sponsor-container {
    width: 100%;    
    margin: 0 auto;
  }
}