html,
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

label {
  font-weight: 300;
}

#container {
  min-height: 100vh;
  position: relative;
}

header div.current-user {
  position: absolute;
  top: 30px;
  right: 10px;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0 0 #26b;
  color: #fff;
  height: 44px;
  text-align: center;
  width: 100%;
  padding-top: 12px;
}

#content-wrapper {
  padding-bottom: 3rem;
}

div.login-form {
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  margin: 50px auto;
  width: 380px;
}

div.content {
  padding: 30px;
  padding-bottom: 54px;
}

.video-row {
  display: flex;
}

.video-player {
  width: calc(75% - 20px);

  .no-video {
    height: 720px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.talk {

  &__date {
    font-weight: bold;
  }

  &__title {}

  &__speaker {
    &--name {
      text-transform: capitalize;
    }
  }

  &__description {
    font-weight: bold;
  }

  &__like {
    text-align: right;
  }

  &__join-button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-items: flex-end;
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }  

  &__etherpad {}
}

.disqus-container {
  padding: 0 15px;
}

.sponsor-container img {
  padding-top: 1em;
  width: 100%;
}

.schedule-container {
  max-height: 800px;
  overflow: scroll;
}

.rocket-container {
  margin-bottom: 35px;
}

.logout-button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding-right: 15px;
}

.rocket-chat {
  &--embedded {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 30;
    border: 2px solid #26b;
  }

  &--full {
    margin-top: 33px;
    padding: 0 15px;
  }

  &--button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    display: flex;
    justify-content: center;

    img {
      filter: invert(1);
      justify-content: center;
    }
  }
}

.custom-video-modal {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  bottom: 0;
  right: 0;
  margin: 2rem;
  width: 25% !important;
  height: 25% !important;
  background: rgba(0, 0, 0, 0.8) !important;  
}

@media (max-width: 768px) {
  div.login-form {
    width: auto;
  }
}

@media (min-width: 768px) {
  .disqus-container {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}