html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0 0 #26b !important;
  color: #fff;
  height: 44px;
  width: 100%;
  padding: 0.6rem 0 0 !important;
}


.video-row {
  display: flex;
}

.video-player {
  width: calc(75% - 20px);

  .no-video {
    height: 720px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.talk {
  padding: 20px 40px;

  &__row {
    display: flex;
    padding: 10px 0;

    &--left {
      width: 75%;
      padding-right: 10px;
    }

    &--right {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding-left: 10px;
    }
  }

  &__date {
    font-weight: bold;
  }

  &__title {}

  &__speaker {
    &--name {
      text-transform: capitalize;
    }
  }

  &__description {
    font-weight: bold;
  }

  &__like {
    text-align: right;
  }

  &__join-button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;

    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  &__docs {
    border: 1px silver solid;
    height: 420px;

    &--title {
      width: 100%;
      padding: 10px;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px silver solid;
    }
  }

  &__etherpad {}
}

.schedule {
  padding: 20px 40px;

  &__row {
    display: flex;
    padding: 10px 0;

    &--left {
      width: 75%;
      padding-right: 10px;
    }

    &--right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 25%;
      padding-left: 10px;
    }
  }
}

.sponsor-container img {
  max-width: 100%;
}

.schedule-container {
  max-height: 800px;
  overflow: scroll;
}

.rocket-container {
  margin-bottom: 35px;
}

.logout-button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding-right: 20px;
}

.rocket-chat {
  &--embedded {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 30;
    border: 2px solid #26b;
  }

  &--full {
    margin-top: 33px;
  }

  &--button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    display: flex;
    justify-content: center;

    img {
      filter: invert(1);
      justify-content: center;
    }
  }
}