@charset "utf-8";
@import "bulma/sass/utilities/_all.sass";
@import './colors.scss';

$font-family-base: 'Open Sans', sans-serif;
$family-sans-serif: 'Open Sans', sans-serif;

$footer-background-color: $color-primary;
$footer-color: $color-text-light;
$footer-padding: 2rem;

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";