@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/form/_all.sass";

@import "./colors.scss";

.change-passoword-container {
  margin: 15px -20px;
  border-top: 1px solid #d3d3d3;
  .title {
    padding: 10px 20px;
  }
  .password-fields {
    margin: 0 !important;
    padding: 10px 20px;
    flex-direction: column;

    .input-field {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }

      b {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
      }

      i {
        margin-left: 10px;
        color: #d3d3d3;
        cursor: pointer;
      }

      .textarea {
        font-size: 16px;
      }

      .select {
        display: flex;

        select {
          width: 100%;
        }
      }
    }
  }
  .buttons {
    padding: 0px 10px;
    margin: 5px 0;

    div {
      button {
        width: 100%;
        height: 5.5rem;
      }

      &:last-of-type {
        button {
          color: #ffffff;
          border-color: #ffffff;
          background-color: $color_primary;
        }
      }
    }
  }
  .recover-password {
      padding: 10px 20px;
  }
}
