$color_primary : #8DC63F;
$color_primary_contrast : #FFFFFF;
$color_secondary : #343B95;
$color_secondary_contrast : #19194D;
$color_accent : #FF5E32;
$color_text_dark : #5e5f62;
$color_text_med : #828282;
$color_text_light : #ffffff;
$color_gray_darker : #4A4A4A;
$color_gray_dark : #999999;
$color_gray_light : #DFDFDF;
$color_gray_lighter : #F2F2F2;
$color_text_input_hints : #444444;
