.countdown {
  height: 150px;
  background-color: #00CEC4;
  color: var(--color_text_light);

  .countdown-columns {
    height: 100%;

    .left-column {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      font-weight: bold;
    }

    .right-column {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & div:first-of-type {
        background-color: darken($color: #00CEC4, $amount: 20%);
      }

      & div:nth-of-type(2) {
        background-color: darken($color: #00CEC4, $amount: 10%);
      }

      div {
        display: flex;
        flex-direction: column;
        flex: 0 0 33.33%;
        height: 100%;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;

        span {
          font-size: 42px;
          line-height: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .countdown {
    height: 300px;
    .countdown-columns {
      height: 100%;
  
      .left-column {
        height: 50%;
      }
  
      .right-column {
        height: 50%;
      }
    }
  }
}