.docs-container {
  border: 1px silver solid;

  .title {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5rem;
  }

  .docs-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  span {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  i {
    font-size: 3rem;
  }

  hr:first-of-type {
    margin: 0 auto 2.5rem;
  }

  hr {
    border-top: 1px solid silver;
    margin: 1.5rem auto;
    width: 94%;
  }

  hr:last-of-type {
    visibility: hidden;
    margin: 1.5rem auto 0;
  }
}