@import "./colors.scss";

div.column:first-of-type {
  background-color: $color_secondary_contrast;
}

.hero-events {
  .hero-body {
    display: flex;
    background-color: black;
    flex-direction: row;
    text-transform: uppercase;
    padding: 1rem 6rem;

    .hero-event-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .title {
      font-size: 48px;
      color: $color_text_light;
      font-weight: bold;
      letter-spacing: 0.5rem;
      padding-left: 1rem;
    }

    .subtitle {
      font-size: 38px;
      color: $color_text_light;
      padding-left: 1rem;
    }

    .date {
      background-color: $color_secondary;
      color: $color_text_light;
      font-size: 32px;
      letter-spacing: 0.5rem;
      padding: 0.5rem 0;
      transform: skew(-25deg);

      span:before {
        content: "";
        margin-right: 1.1em;
      }

      span:after {
        content: "";
        margin-left: 1.2em;
      }

      span {
        transform: skew(25deg);
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1400px) {
  .hero-events {
    .hero-body {
      padding: 2rem 1.5rem;

      .hero-event-container {
        flex-direction: column;

        .subtitle {
          display: inline-block;
        }

        .date {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 890px) {
  .hero-events {
    .hero-body {
      .hero-event-container {
        .subtitle {
          padding-left: 0;
        }
      }
    }
  }
}