.question-wrapper {
    margin: 15px 0;
    display: flex;    
    align-content: center;    
}

.button-save {
    float: right;
    margin-top: 20px;
}

.disclaimer {
    margin: 25px 5px 0 5px;
    >div {        
        b {
            margin-left: 5px;
        }
    }    
}