%font-regular {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

%font-semi {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

%font-bold {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}