.footer-colummns {
  text-align: left;

  h4 {
    border-bottom: 2px solid #ffffff;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  a {
    color: #ffffff;

    :hover,
    :visited {
      color: #ffffff;
    }
  }

  a i {
    font-size: 2.5rem;
  }

  .social-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

.legals-bar {
  color: #ffffff;
  background-color: #494a4c;
  padding: 1rem 2rem;
  display: flex;

  .link {
    color: #ffffff;
  }

  a:hover.link,
  a:visited.link {
    color: #ffffff;
    text-decoration: none;
  }

  .legal-item {
    text-transform: uppercase;
    margin-right: 3rem;
    font-size: 13px;
  }

  .copyright {
    margin-left: auto;
  }
}