@import "./fonts";
@import "./colors";

%button-big {
  border-radius: 4px;
  height: 56px;
  color: $color_text_light;
  background-color: $color_secondary;
  font-size: 15px;

  @extend %font-regular;
}

%title-huge {
  font-size: 46px;
  line-height: 46px;
  color: $color_text_dark;

  @extend %font-bold;
}

%title-big {
  font-size: 32px;
  line-height: 32px;
  color: $color_text_dark;

  @extend %font-bold;
}

%title {
  font-size: 28px;
  line-height: 28px;
  color: $color_text_dark;

  @extend %font-semi;
}

%title-med {
  font-size: 24px;
  line-height: 24px;
  color: $color_text_dark;

  @extend %font-bold;
}

%title-small {
  font-size: 18px;
  color: $color_text_dark;

  @extend %font-bold;
}

%title-tiny {
  font-size: 14px;
  color: $color_text_dark;

  @extend %font-semi;
}

%text-big {
  font-size: 20px;
  line-height: 24px;
  color: $color_text_med;

  @extend %font-semi;
}

%text-med {
  font-size: 15px;
  line-height: 20px;
  color: $color_text_med;

  @extend %font-regular;
}

%text-small {
  font-size: 14px;
  line-height: 16px;
  color: $color_text_med;

  @extend %font-regular;
}

%text-tiny {
  font-size: 12px;
  line-height: 16px;
  color: $color_text_med;

  @extend %font-regular;
}

%button-small-primary {
  border-radius: 4px;
  height: 39px;
  color: $color_text_light;
  background-color: $color_secondary;
  font-size: 15px;

  @extend %font-regular;
}

%button-small-secondary {
  border-radius: 4px;
  height: 39px;
  color: $color_text_med;
  background-color: $color_gray_light;
  font-size: 15px;

  @extend %font-regular;
}

%button-small-outline {
  border-radius: 4px;
  height: 39px;
  background-color: white;
  font-size: 15px;
  border: 1px solid $color_gray_dark;
  color: $color_text_dark;


  @extend %font-regular;
}

%button-toggle {
  border-radius: 4px;
  height: 39px;
  background-color: white;
  font-size: 15px;
  border: 1px solid $color_gray_light;
  color: $color_text_dark;


  @extend %font-regular;
}