@import "./colors.scss";

.hero-container {
  display: flex;
  flex-direction: row;
  height: 250px;
}

div.column:first-of-type {
  background-color: $color_secondary_contrast;
}

.hero-columns {
  .left-column {
    width: 70%;
    background-color: $color_secondary_contrast;
    transform: skew(-25deg);
    margin-left: -10%;
    z-index: 3;
    min-height: 100%;

    .hero-container {
      transform: skew(25deg);
      margin-left: 15%;
    }
  }

  .mid-column {
    width: 5%;
    background-color: $color_secondary;
    transform: skew(-25deg);
    margin-left: -2%;
    z-index: 2;
    min-height: 100%;
  }

  h1 {
    font-size: 5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 4rem;
    font-weight: normal;
  }

  h1,
  h2 {
    color: white;
  }

  .right-column {
    width: 65%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10%;
    min-height: 100%;
  }
}

@media (max-width: 768px) {
  .hero-columns {
    .left-column {
      transform: none;
      width: 100%;
      margin-left: 0;

      .hero-container {
        transform: none;
        margin-left: 0;
      }
    }

    .mid-column {
      width: 100%;
      transform: none;
      height: 3rem;
      margin-left: 0;
      z-index: 2;
    }

    .right-column {
      width: 100%;
      z-index: 1;
      margin-left: 0;
      min-height: 190px;
    }
  }
}

.hero-marketing {
  .hero-marketing-container {
    display: flex;
    flex-direction: row;
    height: calc(100% + 6rem);

    .hero-buttons {
      margin-top: 2.5rem;
    }

    .button {
      background-color: transparent;
      color: #fff;
      height: 5rem;
      width: 20rem;
      margin: 0 10px 10px 0;

      i {
        color: #fff;
        height: 1em;
        width: 2.5em;
        margin-right: auto;
        font-size: 1.8em;
      }

      b {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      &:hover,
      &:active {
        border-color: #fff;
        text-decoration: none;
      }

      &:focus {
        border-color: #fff;
        box-shadow: none;
      }

      &.white {
        background-color: #fff;
        color: #6d6e71;

        b, i {
          color: inherit;
        }
      }
    }
  }

  .link:first-of-type {
    .button {
      background-color: #fff;
      color: #6d6e71;

      i {
        color: #6d6e71;
      }
    }
  }

  .hero-marketing-columns {
    .left-column {
      background-color: $color_secondary_contrast;
      z-index: 3;
      min-height: 100%;
      background-size: cover;
    }

    h1 {
      font-size: calc(50px + (50 - 42) * (100vw - 250px) / (1080 - 250));
      font-weight: bold;
      margin: 6px 0 6px;
    }

    h2 {
      font-size: calc(40px + (40 - 36) * (100vw - 250px) / (1080 - 20));
      font-weight: normal;
      margin-bottom: 6px;
    }

    h4 {
      font-size: calc(22px + (22 - 14) * (100vw - 250px) / (1080 - 250));
      font-weight: bold;
      margin-top: 5px;
    }

    h1,
    h2,
    h4 {
      color: white;
    }

    .date {
      transform: skew(-25deg);
      width: max-content;
      padding: 0.5rem 0;
      margin-left: -3em;

      div {
        transform: skew(25deg);
        font-size: 3rem;
        font-weight: bold;
        color: $color_text_light;
        letter-spacing: 0.1rem;
      }

      div:before {
        content: "";
        margin-right: 1.4em;
      }

      div:after {
        content: "";
        margin-left: 1.5em;
      }
    }

    .right-column {
      z-index: 1;

      .single-image {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          object-position: right;
        }
      }

      .image-slider {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        overflow: hidden;
      }
    }
  }
}

.hero-events {
  .hero-body {
    display: flex;
    background-color: black;
    flex-direction: row;
    text-transform: uppercase;
    padding: 1rem 6rem;

    .hero-event-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .title {
      font-size: 48px;
      color: $color_text_light;
      font-weight: bold;
      letter-spacing: 0.5rem;
      padding-left: 1rem;
    }

    .subtitle {
      font-size: 38px;
      color: $color_text_light;
      padding-left: 1rem;
    }

    .date {
      background-color: $color_secondary;
      color: $color_text_light;
      font-size: 32px;
      letter-spacing: 0.5rem;
      padding: 0.5rem 0;
      transform: skew(-25deg);

      span:before {
        content: "";
        margin-right: 1.1em;
      }

      span:after {
        content: "";
        margin-left: 1.2em;
      }

      span {
        transform: skew(25deg);
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1400px) {
  .hero-events {
    .hero-body {
      padding: 2rem 1.5rem;

      .hero-event-container {
        flex-direction: column;

        .subtitle {
          display: inline-block;
        }

        .date {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 890px) {
  .hero-events {
    .hero-body {
      .hero-event-container {
        .subtitle {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 978px) {
  .hero-marketing {
    .hero-marketing-columns {
      .left-column {
        .hero-marketing-container {
          height: 520px;
          padding: 2rem 1.5rem;

          .hero-buttons {
            display: flex;
            flex-direction: column;
          }

          .link {
            margin-bottom: 1rem;
            display: inline-block;
          }
        }
      }

      .right-column {
        .image-slider {
          height: 530px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-marketing {
    .hero-marketing-columns {
      .left-column {
        transform: none;
        width: 100%;
        margin-left: 0;

        .hero-marketing-container {
          transform: none;
          margin-left: 0;
          height: auto;
        }
      }

      .right-column {
        width: 100%;
        z-index: 1;
        margin-left: 0;
      }
    }
  }
}
