html,
body {
  font-family: 'Nunito Sans', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

label {
  font-weight: 300;
}

#container {
  min-height: 100vh;
  position: relative;
}

header div.current-user {
  position: absolute;
  top: 30px;
  right: 10px;
  color: #fff;
}

footer {
  color: #fff;
  width: 100%;
  padding-top: 12px;
}

#content-wrapper {
  padding-bottom: 3rem;
  min-height: 75vh;
}

div.login-form {
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  margin: 50px auto;
  width: 380px;
}

div.content {
  padding: 30px;
  padding-bottom: 54px;
}

div.title {
  font-weight: 700 !important;
  color: #333333 !important;
  font-family: 'Nunito Sans', sans-serif;
}

h2 {
  margin-bottom: 20px;
}

.video-row {
  display: flex;
}

.video-player {
  width: calc(75% - 20px);

  .no-video {
    height: 720px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

#marketing-slider {
  .slick-track {
    height: 350px;
  }
}

.marketing-images {
  display: flex;
  flex-wrap: wrap;
  .marketing-img{
    flex: 0 0 50%;
    img {
      object-fit: cover;
      width: 100%;
      object-position: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-template-areas: "grid-item-1 grid-item-2""grid-item-3 grid-item-4""grid-item-3 grid-item-6""grid-item-5 grid-item-6";
  grid-auto-rows: 1fr;
  height: 100%;

  div[class^="grid-item"] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid-item-1 {
    grid-area: grid-item-1;
  }

  .grid-item-2 {
    grid-area: grid-item-2;
  }

  .grid-item-3 {
    grid-area: grid-item-3;
  }

  .grid-item-4 {
    grid-area: grid-item-4;
  }

  .grid-item-5 {
    grid-area: grid-item-5;
  }

  .grid-item-6 {
    grid-area: grid-item-6;
  }
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.talk {

  &__date {
    font-weight: bold;
  }

  &__title {}

  &__speaker {
    &--name {
      text-transform: capitalize;
    }
  }

  &__description {
    font-weight: bold;
  }

  &__like {
    text-align: right;
  }

  &__join-button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-items: flex-end;
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  &__etherpad {}
}

.outerWrapper___lGus2 {
  .widget-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.speakers-widget {
  margin-bottom: 15px;
}

.disqus-container {
  padding: 0 15px;
}

.schedule-container {
  max-height: 800px;
  overflow: scroll;
}

.rocket-container {
  margin-bottom: 35px;
}

.logout-button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding-right: 15px;
}

.rocket-chat {
  &--embedded {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 30;
    border: 2px solid #26b;
  }

  &--full {
    margin-top: 33px;
    padding: 0 15px;
  }

  &--button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    display: flex;
    justify-content: center;

    img {
      filter: invert(1);
      justify-content: center;
    }
  }
}

.custom-video-modal {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  bottom: 0;
  right: 0;
  margin: 2rem;
  width: 25% !important;
  height: 25% !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

@media (max-width: 768px) {
  div.login-form {
    width: auto;
  }

  #marketing-columns {
    margin-bottom: 4rem;
  }

  #marketing-slider {
    .slick-track {
      height: auto;
    }
  }
}

@media (max-width: 978px) {
  #marketing-slider {
    .slick-track {
      height: 520px;
    }
  }
}

@media (min-width: 768px) {
  .disqus-container {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}