html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

label {
  font-weight: 300;
}

header {
  height: 60px;
  background-color: #000;
  text-align: center;
}

#container {
  min-height: 100vh;
  position: relative;
}

header img {
  margin: 0 auto;
  display: block;
}

header div.current-user {
  position: absolute;
  top: 30px;
  right: 10px;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0 0 #26b;
  color: #fff;
  height: 44px;
  text-align: center;
  width: 100%;
  padding-top: 12px;
}

div.login-form {
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  margin: 50px auto;
  width: 380px;
}

div.content {
  padding: 30px;
  padding-bottom: 54px;
}

th.price,
td.price {
  text-align: right;
}

th.item_fields,
td.item_fields {
  max-width: 10px;
}


tr.formitem-checkout td {
  font-size: 0.8em;
}

.table>tbody>tr.total td {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

div.form table tr td.quantity {
  width: 50px;
}

div.form table tr td.total {
  width: 100px;
}

div.form table tr td input.quantity {
  width: 50px;
  text-align: center;
}

div.form table tr td input.sponsorfield {
  width: 60px;
  text-align: center;
}

div.form table tr td input.sponsorfield_warning {
  border: 2px solid red;
}

span.itemfield_warning {
  color: red;
}

div.form div.total {
  font-size: 1.2em;
  background-color: #cecece;
  padding: 10px;
  display: table;
  width: 100%;
  font-weight: bold;
}

div.form div.total div.total-price {
  text-align: right;
  padding-right: 100px;
}

div.form div.actions {
  text-align: right;
  padding: 20px;
  padding-right: 0px;
}

div.checkout-button {
  width: 100%;
  text-align: right;
}

table thead tr th {
  background-color: #444444;
  color: #fff;
  border-bottom: 0px;
}

div#wire-info {
  display: none;
}

div.item_notes textarea {
  width: 200px;
  height: 60px;
}

div.item_notes span.glyphicon {
  font-size: 20px
}

span.modal-warning-icon {
  font-size: 30px;
  color: #b22;
  margin: 10px;
}

p.cancel-policy {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 20px;
  font-size: 0.9em;
  color: #777777;
}

p.cancel-policy strong {
  color: #a94442;
}

table.table-meta-data {
  margin-top: 10px;
}

table.table-meta-data tr td {
  padding: 4px;
}

div.meta-data {
  padding-top: 10px;
}

ul.downloads {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

div.redactor_content>table>tbody>tr>td {
  padding: 1px 5px 1px 5px;
}

div.eventtab {
  margin-top: 15px;
}

table tr#extra-payment-cost,
table tr#extra-payment-cost-total {
  display: none;
}

div.wire-left {
  text-align: left;
}

div.wire-info div.form-group {
  padding-bottom: 30px;
}

div.helptxt {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

div.dataTables_wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

div.dataTables_filter,
div.dataTables_paginate {
  text-align: right;
}

div.dataTables_filter input {
  margin-left: 10px;
}

div.dataTables_paginate ul.pagination {
  margin-top: 0px;
}

th.actions {
  width: 50px;
}

span.media-upload-icon-missing {
  font-size: 22px;
  margin-right: 10px;
  color: red;
}

span.media-upload-icon-ok {
  font-size: 22px;
  margin-right: 10px;
  color: green;
}

div.media-upload-text>input {
  margin-top: 4px;
  font-size: 25px;
  width: 500px;
}

.media-upload-dropzone {
  margin-top: 4px;
  width: 200px;
}


ul.media-upload-details {
  margin-top: 4px;
  padding-left: 20px;
}

ul.media-upload-details>li {
  font-style: italic;
  font-size: 12px;
  list-style-type: square;
}

div.formitem-canceled {
  color: red;
  font-weight: bold;
}

div.boothlayout {
  display: block;
}

div.booth-sectiontitle {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

div.booth-spare-area {
  margin-left: 0px;
  margin-right: 0px;
}

div.booth-spare {
  background-color: #eee;
  margin-bottom: 15px;
  border: 1px solid black;
  height: 150px;
}

img.booth-element {
  position: absolute;
  z-index: 3;
}

div.booth-square {
  position: absolute;
  display: inline-block;
  background-color: #ddd;
  border: 3px solid #666;
  z-index: 1;
  min-width: 40px;
  min-height: 40px;
}

div.booth-square-info {
  position: relative;
  top: 0px;
  left: 0px;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

div.booth-square-info-dimensions {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  height: 30px;
}

a.booth-square-remove {
  font-size: 12px;
  cursor: pointer;
  z-index: 2;
  float: right;
}


div.booth-square-text {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin-top: -30px;
  padding-top: 30px;
  cursor: move;
  z-index: 1;
}

textarea.booth-square-text {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 15px;
  font-weight: bold;
  cursor: move;
}

img.booth-base {
  position: relative;
  width: 100%;
  z-index: 0;
}

a.boothlayout-button {
  display: block;
  margin-bottom: 5px;
}


button.modalcenter-close {
  margin-top: -20px !important;
}

img#image-preview {
  cursor: pointer
}

div.modalcenter-frame {
  width: fit-content
}

div.modalcenter-frame .modal-title {
  margin-right: 20px
}

div.modalcenter-frame .modal-body {
  text-align: center
}

/*jssor slider loading skin double-tail-spin css*/
.jssorl-004-double-tail-spin img {
  animation-name: jssorl-004-double-tail-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*jssor slider bullet skin 031 css*/
.jssorb031 {
  position: absolute;
}

.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}

.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: .7;
  stroke: #000;
  stroke-opacity: .5;
}

.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}

.jssorb031 .i.idn {
  opacity: .3;
}

/*jssor slider arrow skin 081 css*/
.jssora081 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora081 .c {
  fill: #000;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 120;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5;
}

.jssora081 .a {
  fill: #fff;
  opacity: .8;
}

.jssora081:hover .c {
  fill-opacity: .3;
}

.jssora081:hover .a {
  opacity: 1;
}

.jssora081.jssora081dn {
  opacity: .5;
}

.jssora081.jssora081ds {
  opacity: .3;
  pointer-events: none;
}

/*jssor slider thumbnail skin 052 css*/
.jssort052 .p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.jssort052 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: .45;
}

.jssort052 .p:hover .t {
  opacity: .8;
}

.jssort052 .pav .t,
.jssort052 .pdn .t,
.jssort052 .p:hover.pdn .t {
  opacity: 1;
}

.dropzone .dz-preview .dz-image img {
  height: 120px !important;
}

.video-row {
  display: flex;
}

.video-player {
  width: calc(75% - 20px);
}

.disqus-container {
  width: calc(25% + 40px);
  max-height: 720px;
  overflow: auto;
}

.talk {
  padding: 20px 40px;

  &__row {
    display: flex;
    padding: 10px 0;

    &--left {
      width: 75%;
      padding-right: 10px;
    }

    &--right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 25%;
      padding-left: 10px;
    }
  }

  &__date {
    font-weight: bold;
  }

  &__title {}

  &__speaker {}

  &__description {
    font-weight: bold;
  }

  &__like {
    text-align: right;
  }

  &__join-button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }

  &__docs {
    border: 1px silver solid;
    height: 420px;

    &--title {
      width: 100%;
      padding: 10px;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px silver solid;
    }
  }

  &__etherpad {}
}

.schedule {
  padding: 20px 40px;

  &__row {
    display: flex;
    padding: 10px 0;

    &--left {
      width: 75%;
      padding-right: 10px;
    }

    &--right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 25%;
      padding-left: 10px;
    }
  }
}

.sponsor-container img {
  max-width: 100%;
}

.schedule-container {
  max-height: 800px;
  overflow: scroll;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logout-button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding-right: 20px;
}

.rocket-chat {
  iframe {    
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 30;
    border: 2px solid #26b;    
  }

  &--button {
    background-color: #26b;
    color: white;
    padding: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    display: flex;    
    justify-content: center;    
    img {
      filter: invert(1);
      justify-content: center;
    }
  }
}