@import "./colors.scss";

.hero-marketing {
  .hero-marketing-container {
    display: flex;
    flex-direction: row;
    height: calc(100% + 6rem);

    .hero-buttons {
      margin-top: 2.5rem;
    }

    .button {
      background-color: transparent;
      color: #fff;
      height: 5rem;
      width: 20rem;
      margin: 0 10px 10px 0;

      i {
        color: #fff;
        height: 1em;
        width: 2.5em;
        margin-right: auto;
        font-size: 1.8em;
      }

      b {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      &:hover,
      &:active {
        border-color: #fff;
        text-decoration: none;
      }

      &:focus {
        border-color: #fff;
        box-shadow: none;
      }

      &.white {
        background-color: #fff;
        color: #6d6e71;

        b,
        i {
          color: inherit;
        }
      }
    }
  }

  .link:first-of-type {
    .button {
      background-color: #fff;
      color: #6d6e71;

      i {
        color: #6d6e71;
      }
    }
  }

  .hero-marketing-columns {
    .left-column {
      background-color: var(--color_secondary_contrast);
      z-index: 3;
      min-height: 100%;
      background-size: cover;
    }

    h1 {
      font-size: calc(50px + (50 - 42) * (100vw - 250px) / (1080 - 250));
      font-weight: bold;
      margin: 6px 0 6px;
    }

    h2 {
      font-size: calc(40px + (40 - 36) * (100vw - 250px) / (1080 - 20));
      font-weight: normal;
      margin-bottom: 6px;
    }

    h4 {
      font-size: calc(22px + (22 - 14) * (100vw - 250px) / (1080 - 250));
      font-weight: bold;
      margin-top: 5px;
    }

    h1,
    h2,
    h4 {
      color: white;
    }

    .date {
      transform: skew(-25deg);
      width: max-content;
      padding: 0.5rem 0;
      margin-left: -3em;

      div {
        transform: skew(25deg);
        font-size: 3rem;
        font-weight: bold;
        color: $color_text_light;
        letter-spacing: 0.1rem;
      }

      span {
        margin: 0 -1.5em;
        transform: skew(-25deg);
        display: inline;
      }

      div:before {
        content: "";
        margin-right: 1.4em;
      }

      div:after {
        content: "";
        margin-left: 1.5em;
      }
    }

    .right-column {
      z-index: 1;

      .single-image {
        height: 100%;
        background-size: cover;
        min-height: 350px;
      }

      .image-slider {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 978px) {
  .hero-marketing {
    .hero-marketing-columns {
      .left-column {
        .hero-marketing-container {
          height: 520px;
          padding: 2rem 1.5rem;

          .hero-buttons {
            display: flex;
            flex-direction: column;
          }

          .link {
            margin-bottom: 1rem;
            display: inline-block;
          }
        }
      }

      .right-column {
        .image-slider {
          height: 530px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-marketing {
    .hero-marketing-columns {
      .left-column {
        transform: none;
        width: 100%;
        margin-left: 0;

        .hero-marketing-container {
          transform: none;
          margin-left: 0;
          height: auto;
        }
      }

      .right-column {
        width: 100%;
        z-index: 1;
        margin-left: 0;
      }
    }
  }
}
