@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/components/navbar";

.navbar {
  background-color: #6d6e71;
  min-height: 7.25rem;

  .navbar-brand {
    padding-left: 1rem;

    img {
      max-height: 4rem;
    }
  }

  .navbar-end {
    padding-right: 15px;
  }

  .user-icon {
    color: #ffffff;
    padding-left: 10px;
  }

  .navbar-menu {
    .navbar-item {
      color: #ffffff;
      font-weight: 300;

      .link {
        color: #ffffff;

        &:hover {
          color: #ffffff;
          text-decoration: none;
        }

        &:active {
          color: #ffffff;
          text-decoration: underline;
        }

        &:visited {
          color: #ffffff;
        }
      }
    }
  }
}




.navbar-brand {
  min-height: 7.25rem;
}

.navbar-burger {
  height: auto;
}

.user-navbar {
  background-color: #616266;
  min-height: 4.25rem;

  .navbar-start {
    padding-left: 15px;
  }

  .navbar-end {
    padding-right: 5px;
  }

  .lobby-button {
    padding: 0 60px;
    margin-left: 5px;
  }

  .user-burger {
    display: block;
    color: #ffffff;
  }

  .user-icon {
    color: #ffffff;
    padding-left: 10px;
  }
}

@media (max-width: 1023px) {
  .navbar {
    .navbar-burger {
      color: #ffffff;
    }

    .navbar-menu {
      .navbar-item {
        .link {
          color: #6d6e71;

          &:hover {
            color: #6d6e71;
          }

          &:active {
            color: #6d6e71;
          }

          &:visited {
            color: #6d6e71;
          }
        }
      }

      .buttons {
        flex-direction: column;
        align-items: flex-start;
      }

      .user-icon {
        color: #6d6e71;
        padding-bottom: 5px;
      }
    }
  }
}