$primary: getPaletteKey(primary);
$primary-dark: getPaletteKey(primaryDark);
$secondary: getPaletteKey(secondar);
$secondary-dark: getPaletteKey(secondaryDark);
$text-dark: getPaletteKey(textDark);
$text-light: getPaletteKey(textLight);
$highlight: getPaletteKey(highlight);