@import './colors.scss';

.disqus-container-sponsor {
  position: relative;  
  max-height: 1160px;
  overflow-y: scroll;
}

.hero {
  background-color: black;
  color: $color_text_light;

  .hero-sponsor-image-bg {
    background-size: cover;
    background-position: center;
  }

  .hero-sponsor {
    position: relative;
    overflow: hidden;
    background-color: $color_secondary_contrast;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .hero-video {
      object-fit: cover;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .hero-body {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 2rem;

      .hero-sponsor-container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .left-container {
          align-self: flex-end;

          .link {
            color: $color_text_light;

            i {
              font-size: 2.5rem;
              text-shadow: 0 0 2px #000;
            }

            &:last-child {
              margin-left: 5px;
            }
          }
        }

        .right-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .category {
            align-self: flex-end;

            img {
              max-height: 75px;
            }
          }

          .buttons {
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            .link {
              .button {
                background-color: $color_secondary_contrast;
                border: none;
                color: #fff;
                height: 5rem;
                width: 25rem;

                i {
                  color: #fff;
                  height: 1em;
                  width: 2.5em;
                  margin-right: auto;
                  font-size: 1.8em;
                }

                b {
                  display: inline-block;
                  width: 100%;
                  text-align: center;
                }

                &:hover,
                &:active {                  
                  border: none;
                }

                &:focus {
                  border: none;
                  box-shadow: none;
                }
              }

              &:hover,
              &:active {
                text-decoration: none;
              }

              &:nth-child(2) {
                margin-top: 1rem;
              }
            }

            &-small {
              display: flex;
              flex-direction: column;
              align-self: flex-end;

              .link {
                .button {
                  background-color: $color_secondary_contrast;
                  border: none;
                  color: #fff;
                  height: 3.5rem;
                  width: 20rem;

                  i {
                    color: #fff;
                    height: 1em;
                    width: 2em;
                    margin-right: auto;
                    font-size: 1.5em;
                  }

                  b {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                  }

                  &:hover,
                  &:active {
                    border: none;
                  }

                  &:focus {
                    border: none;
                    box-shadow: none;
                  }
                }

                &:hover,
                &:active {
                  text-decoration: none;
                }

                &:nth-child(2) {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }

      .volume-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 10px;
        text-shadow: 0 0 2px #000;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          border: none;
        }
      }
    }

    &-mobile {
      @extend .hero-sponsor;
    }
  }
}

.sponsor-intro {
  margin-bottom: 3rem;
}

.video-chat-button {
  margin: 20px 0;

  .link {
    .button {
      background-color: $color_secondary_contrast;
      border: none;
      color: #fff;
      height: 5rem;
      width: 100%;

      i {
        color: #fff;
        height: 1em;
        width: 2.5em;
        font-size: 1.8em;
      }

      b {
        display: inline-block;
        text-align: center;
        padding-top: 2px;
      }

      &:hover,
      &:active {
        border: none;
      }

      &:focus {
        border: none;
        box-shadow: none;
      }
    }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.side-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.sponsor-info {
  margin-bottom: 3rem;
}

.intro-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-bar {
  background-color: $color_secondary_contrast;
  color: $color_text_light;
  font-size: 30px;
  padding: 6px 10px;
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 55px;

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 150s linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  &--small {
    @extend .bottom-bar;
    font-size: 18px;
    height: 35px;
  }
}

.container-banner {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  margin-top: 2rem;
  background-color: $color_secondary_contrast;

  .container-text {
    font-size: 32px;
    color: $color_text_light;
  }

  .container-buttons {
    display: flex;
    justify-content: center;
    width: 100%;

    .link {
      .button {
        background-color: transparent;
        color: #fff;
        height: 5rem;
        width: 20rem;

        i {
          color: #fff;
          height: 1em;
          width: 2.5em;
          margin-right: auto;
          font-size: 1.8em;
        }

        b {
          display: inline-block;
          width: 100%;
          text-align: center;
        }

        &:hover,
        &:active {
          border-color: #fff;
        }

        &:focus {
          border-color: #fff;
          box-shadow: none;
        }
      }

      &:hover,
      &:active {
        text-decoration: none;
      }

      &:first-of-type {
        button {
          margin-right: 3rem;
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .hero {
    .hero-sponsor {
      min-height: 150px;

      .hero-body {
        .hero-sponsor-container {
          .right-container {
            .buttons {
              &-small {
                display: flex;
                flex-direction: row;
                align-self: flex-end;

                .link {
                  margin-top: 1rem;

                  &:last-child {
                    margin-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .hero {
    .hero-sponsor {
      height: 400px;
      background-size: cover;

      .hero-body {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 2rem;

        .hero-sponsor-container {
          display: flex;
          justify-content: space-between;
          height: 100%;

          .left-container {
            align-self: flex-end;
            display: flex;
            flex-direction: column;

            .link {
              color: $color_text_light;

              i {
                font-size: 2.5rem;
                text-shadow: 0 0 2px #000;
              }

              &:last-child {
                margin-left: 5px;
              }
            }
          }

          .right-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .category {
              align-self: flex-end;

              img {
                max-height: 75px;
              }
            }

            .buttons {
              width: 12rem;
              display: flex;
              flex-direction: row;
              align-self: flex-end;
              align-items: baseline;
              justify-content: space-between;

              .link {
                .button {
                  background-color: $color_secondary_contrast;
                  border-color: $color_secondary_contrast;
                  color: #fff;
                  height: 5rem;
                  width: 5rem;

                  i {
                    color: #fff;
                    height: 1em;
                    width: 3em;
                    margin: auto;
                    font-size: 2.5em;
                  }

                  b {
                    //display: inline-block;
                    display: none;
                    width: 100%;
                    text-align: center;
                  }

                  &:hover,
                  &:active {
                    border-color: #fff;
                  }

                  &:focus {
                    border-color: #fff;
                    box-shadow: none;
                  }
                }

                &:hover,
                &:active {
                  text-decoration: none;
                }

                &:nth-child(2) {
                  margin-top: 1rem;
                }
              }

              &-small {
                display: flex;
                flex-direction: column;
                align-self: flex-end;

                .link {
                  .button {
                    background-color: $color_secondary_contrast;
                    border-color: $color_secondary_contrast;
                    color: #fff;
                    height: 3.5rem;
                    width: 20rem;

                    i {
                      color: #fff;
                      height: 1em;
                      width: 2em;
                      margin-right: auto;
                      font-size: 1.5em;
                    }

                    b {
                      display: inline-block;
                      width: 100%;
                      text-align: center;
                      font-size: 14px;
                    }

                    &:hover,
                    &:active {
                      border-color: #fff;
                    }

                    &:focus {
                      border-color: #fff;
                      box-shadow: none;
                    }
                  }

                  &:hover,
                  &:active {
                    text-decoration: none;
                  }

                  &:nth-child(2) {
                    margin-top: 1rem;
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }

      &-mobile {
        height: 250px;
      }
    }
  }

  .container-banner {
    height: 300px;
    margin-bottom: 2rem;

    .container-text {
      text-align: center;
    }

    .container-buttons {
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 1rem;

      .link:first-of-type {
        .button {
          margin-right: 0rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}