@import './colors.scss';

.first-container {
  margin-top: 0px !important;
  &.carousel-container {
    padding-top: 1px;
  }
}

.big-image-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  span {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  a {
    width: 100%;
    text-align: center;
  }

  img {
    margin-bottom: 1rem;
  }
}

.small-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;

  .image-box {
    border: 1px solid #d3d3d3;
    flex: 0 1 47%;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  span {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.link {
  margin-top: 2rem;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  .button {
    width: 100%;
    background-color: $color_secondary;
    color: $color_text_light;
    border: 0px;
    margin-bottom: 2em;
  }
}

.horizontal-container {
  display: flex;
  justify-content: space-evenly;


  .image-box {
    box-sizing: border-box;
    padding-right: 10px;

    &:last-child {
      padding-right: 0px;
    }
  }

  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}

.expo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .image-box {
    box-sizing: border-box;
    padding: 20px;
    background-color: $color_primary_contrast;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.large {
      flex: 0 1 23%;
      min-width: 250px;
    }

    &.medium {
      flex: 0 1 18%;
      padding: 20px;
      min-width: 200px;
    }

    &.small {      
      padding: 20px;
      min-width: 125px;
      background-color: transparent;
      border: 1px solid #d3d3d3;
      flex: 0 1 13%;
      img {        
        min-width: 100px;
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}

.carousel-container {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 2rem;
  }

  a {
    width: 100%;
    text-align: center;
  }
  &:not(:first-of-type) {
    img {
      margin: 1rem auto;
    }
  }
}

@media (min-width: 1921px) {
  .gold-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
      display: block;
      width: 100%;
    }

    img {
      flex: 0 1 49%;
    }
  }

  .silver-container {
    justify-content: flex-start;

    .image-box {
      flex: 0 1 32%;
      margin-right: 8px;
    }
  }
}