.vimeoPlayer {
  /* 16:9 */
  --video--width: 960;
  --video--height: 540;

  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 56.25% */
  overflow: hidden;
  max-width: 100%;
  background: black;

  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}