// TODO: Make sure these align with theme colors.
$color-primary: var(--color_primary, #d4e5f4);
$color-primary-contrast: var(--color_primary_contrast, #e6f3ff);
$color-secondary-contrast: var(--color_secondary_contrast, #3fa2f7);
$color-text-dark: var(--color_text_dark, #3486cd);
$color-text-input-hints: var(--color_text_input_hints, #a4c7e6);

$color-white: #fff;
$color-black: #000;

$color-gray-light: #ddd;
$color-gray-lighter: #eee;
$color-gray-lightest: #f9f9f9;

$color-warning: #cc9933;
$color-success: #669933;
$color-danger: #da0000;
