.card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  .header {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(216, 216, 216, 1);
    background-blend-mode: darken;
    transition: 0.3s;
    &__hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .button {
      position: absolute;
      height: 4rem;
      width: 17rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      background-color: transparent;
      color: #fff;
      border-color: #fff;
      border-width: 2px;
      text-transform: uppercase;
      i {
        font-size: 1.6em;
        padding-top: 4px;
      }
    }
  }
  .body {
    position: relative;
    .title {
      color: #4A4A4A;
      font-size: 1.7em;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 2px;
    }
    .order {
      display: flex;
      color: #979797;
      font-size: 1.15em;
      font-weight: 700;
      margin-bottom: 0.5px;
    }
    .track {
      padding: 2.5px 25px;
      border-radius: 8px;
      color: white;
      font-size: 0.7em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}