.voteButton {
  display: flex;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  &.add {
    background-color: #999999;
  }
  &.added {
    background-color: #FF5E32;
  }
  &.disabled {
    background-color: #DFDFDF;
  }
  i {
    align-self: center;
    margin-top: 2px;
    font-size: 24px;
  }
}