.voteButton {
  color: white;
  font-size: 24px;
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  border-color: transparent;
  &.add {
    background-color: #999999;
  }
  &.added {
    background-color: #FF5E32;
  }
  &.disabled {
    background-color: #DFDFDF;
  }
  i {
    margin-top: 5px;
  }
}