@import "../../styles/variables";

.order-ticket-list {
  padding-left: 30px;
  margin-top: 15px;

  &__type {
    display: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
