@import "../../styles/variables";

.order-summary-mobile {
  // TODO: Use a color variable rather than a hard-coded color
  background-color: $color-primary;
  color: $color-white;

  &.open {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  &.closed {
    border-radius: 0 0 4px 4px;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer;
  }

  &-close-text {
    text-align: center;
    margin: 15px;
    padding: 0 0 15px;
    cursor: pointer;
  }

  .order-summary-table {
    text-align: left;
    border: 1px solid $color-gray-light;
    padding: 0 15px 15px 15px;
    background-color: $color-white;
    color: $color-text-dark;
    margin: 0 15px 15px;

    h4 {
      font-weight: bold;
      margin: 15px 0 20px 0;
    }

    .order-row {
      padding: 10px 0;
      margin: 0 5px;
      flex-direction: row;

      div:first-child {
        margin-right: auto;
        display: flex;
        justify-content: space-between;
      }

      div:last-child {
        margin-left: auto;
      }
    }

    .total-row {
      border-top: 1px solid $color-gray-light;
      padding: 10px 0;
      margin: 0 5px;
      flex-direction: row;

      div:first-child {
        margin-right: auto;
      }

      div:last-child {
        margin-left: auto;
      }
    }

    .order-discounts {
      color: $color-success;

      .discount-desc {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .order-refunds {
      color: $color-success;
    }

    .subtotal {
      font-weight: bold;
    }

    .total {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.order-summary-table {
  border: 1px solid $color-gray-light;
  padding: 0 15px 15px 15px;

  h4 {
    font-weight: bold;
    margin: 15px 0 20px 0;
  }

  .order-row {
    padding: 10px 0;
    margin: 0 5px;

    div:first-child {
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .total-row {
    border-top: 1px solid $color-gray-light;
    padding: 10px 0;
    margin: 0 5px;
  }

  .order-discounts {
    color: $color-success;

    .discount-desc {
      font-size: 12px;
    }
  }

  .order-refunds {
    color: $color-success;
  }

  .order-taxes {
    color: $color-danger;
  }

  .subtotal {
    font-weight: bold;
  }

  .total {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .order-summary-mobile {
    .order-summary-table {
      display: block;
    }
  }

  .order-summary-table {
    display: none;
  }
}

@media (min-width: 992px) {
  .order-summary-mobile {
    display: none;
  }

  .order-summary-mobile-title {
    display: none;
  }
}
