@import "../../styles/variables";

.ticket-popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ticket-popup-form-body {
  position: relative;
}

.ticket-popup-form-alert {
  z-index: 20;
  position: sticky;
  top: 0;
}

.ticket-popup-scroll {
  padding: 20px 15px;
}

.ticket-popup-content {
  position: absolute;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background: $color-white;
  z-index: 15;
}

.ticket-popup-header {
  background-color: $color-primary;
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border: none !important;

  h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;

    .warning {
      color: $color-warning;
    }

    .complete {
      color: $color-success;
    }
  }

  .ticket-popup-icons {
    display: flex;
    gap: 15px;
    width: 90px;
    color: $color-primary-contrast;
    flex-direction: column;    

    .ticket-popup-row-icon {
      display: flex;
      gap: 15px;
      justify-content: end;
    }

    .ticket-popup-qr {
      width: 90px;
      margin-left: auto;
      display: flex;
    }

    i {
      font-size: 1.5em;
      cursor: pointer;
      font-weight: normal;
    }
  }

  .ticket-popup-title {
    color: $color-primary-contrast;
    white-space: normal;
    overflow: hidden;

    .status {
      margin-top: auto;
      font-size: 12px;
      color: $color-black;
      text-transform: uppercase;

      &.status-warning {
        color: $color-warning;
      }

      &.status-complete {
        color: $color-success;
      }

      &.status-unset {
        color: $color-black;
      }

      &.status-cancel {
        color: $color-danger;
      }
    }
  }
}

.ticket-popup-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid $color-gray-lightest;
  line-height: 35px;
  margin-bottom: 0px;
  padding-inline-start: 0px;

  li {
    list-style-type: none;
    cursor: pointer;
    padding: 0 15px;
  }

  &--active {
    border-bottom: 2px solid $color-secondary-contrast;
  }
}

.ticket-popup-panel {
  &--assign {
    text-align: center;
    padding: 0 10%;

    p {
      font-size: 16px;
      margin: 20px 0 20px;
      padding: 0 15%;
    }

    p:first-of-type {
      margin: 40px 0 20px;
    }

    p.error-label {
      width: 60%;
      margin: 0px auto 5px auto;
      padding: 0;
      font-size: 14px;
      text-align: left;
    }

    .ticket-popup-separator {
      display: table;
      margin: 25px 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      div {
        display: table-cell;
        vertical-align: middle;
        width: 40%;
      }

      span {
        display: table-cell;
        padding: 0 5px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    .form-control {
      width: 60%;
      margin: 25px auto 5px auto;
      background-color: $color-gray-lighter;
      border-color: $color-primary;

      &::placeholder {
        color: $color-text-input-hints;
      }
    }

    button:last-of-type {
      margin-top: 20px;
    }
  }

  &--reassign {
    text-align: center;
    padding: 0 10%;

    p {
      font-size: 16px;
      margin: 20px 0 20px;
      padding: 0 15%;
    }

    p.error-label {
      width: 60%;
      margin: 0px auto 5px auto;
      padding: 0;
      font-size: 14px;
      text-align: left;
    }

    .ticket-popup-separator {
      display: table;
      margin: 25px 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      div {
        display: table-cell;
        vertical-align: middle;
        width: 40%;
      }

      span {
        display: table-cell;
        padding: 0 5px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    .form-control {
      width: 60%;
      margin: 25px auto 5px auto;
      background-color: $color-gray-lighter;
      border-color: $color-primary;

      &::placeholder {
        color: $color-text-input-hints;
      }
    }

    .ticket-popup-clean {
      margin-bottom: 30px;
    }

    button:last-of-type {
      margin-top: 20px;
    }
  }

  &--edit {
    .ticket-popup-scroll {
      overflow-y: scroll;
      z-index: 20;
      padding: 20px;
      height: calc(100vh - 200px);
    }

    .ticket-popup-footer {
      border-top: 1px solid $color-gray-lighter;
      left: 0;
      bottom: 0;
      height: 60px;
      padding: 10px 0;
      position: absolute;
      text-align: center;
      width: 100%;
      background-color: $color-white;
      z-index: 25;

      button {
        padding: 8px 26px;
        line-height: 22px;
        font-size: 16px;
      }
    }

    .ticket-popup-cancel-ticket {
      color: $color-danger;
      cursor: pointer;
    }
  }

  &--notify {
    padding: 20px;
    text-align: center;

    p {
      font-size: 16px;
      margin: 20px 0;
      padding: 0 15%;
    }

    button {
      padding: 8px 22px;
      line-height: 22px;
      font-size: 16px;
      margin-top: 15px;
    }
  }

  &--refund {
    padding: 0 10%;
  }
}

.ticket-refund-button {
  border: 1px solid $color-gray-light;
  margin-top: 20px;
  padding: 15px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  a {
    line-height: 2em;
    cursor: pointer;
  }

  .cancel {
    color: $color-danger;
  }

  .info {
    font-weight: normal;

    h4 {
      font-weight: bold;
    }

    .role-badge {
      text-transform: uppercase;
    }
  }

  &:empty {
    display: none;
  }
}

@media (max-width: 768px) {
  .ticket-popup-content {
    left: 0%;
  }

  .ticket-popup-header {
    .ticket-popup-icons {
      width: 90px;

      i {
        margin-left: 10px;
      }
    }
  }

  .ticket-popup-panel--refund {
    padding: 0;
  }

  .ticket-popup-panel--assign {
    padding: 0px;

    p {
      margin: 30px 0 20px;
    }

    .ticket-popup-scroll {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 20;
      height: calc(100vh - 160px);

      .ticket-assign-form {
        padding-bottom: 20px;
      }
    }

    span {
      padding: 0 15%;
      display: inline-block;
    }
  }

  .ticket-popup-panel--reassign {
    padding: 0px;

    p {
      margin: 30px 0 20px;
    }

    .ticket-popup-scroll {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 20;
      height: calc(100vh - 160px);

      .ticket-reassign-form {
        padding-bottom: 20px;
      }
    }

    span {
      padding: 0 15%;
      display: inline-block;
    }
  }

  .ticket-popup-panel--notify {
    .ticket-popup-scroll {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 20;
      height: calc(100vh - 160px);

      .ticket-notify-form {
        padding-bottom: 20px;
      }
    }
  }
}
